<style>

  
  
  
  
  
  .prod-price {
    display: none;
}
  div#content {
    width: 100%;
}
  .ournature_page {
    width:1200px !important;
    margin:0 auto !important;
  }
  div#footer-wrapper {
    margin: 0px !important;
}
  
.ournature_banner {
  margin-top: 0px !important;
}
  
.main_cstm2 {
    display: flex;
    clear: both;
    margin: 43px 0 50px;
}
.main_cstm2 p {
    color: #9d9d9d;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  	margin-left: 100px;
  	margin-right: 30px;
}
.main_cstm2 h3 {
    color: #9d9d9d;
    font-family: 'texgyreadventor-regular' !important;
  	color: #5a5a5a !important;
    font-size: 30px !important; 
    line-height: 25px;
    font-weight: 500;
  	margin-bottom: 20px;
  	margin-left: 100px;
}
.right_cstm2 {
    width: 50%;
    height: 400px;
  	max-height: 450px;
    overflow: hidden;
}
      
.right_cstm2 img {
    width: 100%;
}
.left_cstm2 {
    width: 50%;
   	height: 400px;
    max-height: 450px;
    background: #F5F8F7;
  	padding: 4em 50px 0;
  	
}
.nature_last {
    width: 100%;
    padding: 40px 90px;
    background: #c8c9cb;
    margin-top: 40px;
}
.nature_cont_sec {
    display: inline-flex;
}
.nature_last_cont p {
	color: #9d9d9d;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  	text-align: left;
}

.nature_last_cont {
    width: 24%;
    margin: 0 auto;
}
.nature_last {
    width: 100%;
    padding: 40px 90px;
    background: #fff;
    margin-top: 40px;
}
.nature_cont_sec {
    display: inline-flex;
}

.nature_last_cont {
    width: 31%;
    margin: 0 auto;
}
.nature_last h3 {
    color: #5a5a5a !important;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 18px !important;
    text-align: left;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 0px;

}  
.nature_last_cont h3 {
    color: #414342;
    font-size: 18px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 600;
    margin-bottom: 18px;
  	
}
.nature_last_cont img {
    width: 80%;
  	margin-left: -5px;
}
  
.nature_locations {
  	width: 100%;
    display: inline-flex !important;
    text-align: center;
  	background: none;
	padding: 2em 4em;
  	padding-bottom: 1.8em;
}  
.nature_div{
	display: inline-flex;
	width: 100% !important;
	margin-top: -20px;
}

.nature_locations_header h3 {
  	color: #5a5a5a;
    text-align: center;
    font-size: 30px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 500;
    letter-spacing: 2px;
  	padding-top: 50px;
} 
.nature_locations_header p {
	color: #9d9d9d;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  	text-align: center;
}
.nature_locations_cont a {
	color: #9d9d9d;
    font-family: 'texgyreadventor-regular' !important;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
  	text-align: center;
  	text-transform: uppercase;
  	padding-bottom: 30px;
}
.nature_locations_cont a:hover {
  	color: #5a5a5a;
}  
  
coming_soon:hover{
  	display: inline;
  	content: "(coming soon)";
    position: relative;
    bottom: 0;
    left: 0;
    right: 0px;
    height: 20px;
    text-align: center !important;
  	clear:both;
  	font-size: 16px;
  	color: #5a5a5a;
  	white-space: pre;
    text-align:center;
}

 
.nature_locations_cont {
    width: 80%;
    margin: 0 auto;
  }
  
.nature_locations_cont h4 { 
    font-size:12px;
    font-family: 'Avant Garde Book Demi' !important;
}    
.nature_locations_cont .button {
    background-color: #5a5a5a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  	width: 75%;
}
.book_pamper {
  text-align: center !important;
  z-index: -1;
  padding-bottom: 4em;
}
.book_pamper a {
	color: #5a5a5a;
    font-size: 24px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 500;
    letter-spacing: 2px;

}
.book_pamper a:hover {
	color: #9d9d9d; 
}
  
.hotel1_sec2 {
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    height: 350px;
    background-size: cover;
  	margin: 30px 0px -30px;
}
.cont1_sec2 {
    margin-top: 30px;
    text-align: center;
    padding: 0 10px;
}
@media screen and ( min-width: 1400px ) {
  .left_cstm2 h3 {
    margin-top: 20px;
}
} 
  
  
@media screen and (max-width: 740px) {
  .main_cstm2{
    margin-top:0px;
    display:table;
  }
  .left_cstm2 {
    width: 100%;
    height: auto;
    max-height: none;
    padding: 2em 15px;
}
.main_cstm2 h3 {
  margin-left:0px;
  line-height:35px;
}
.main_cstm2 p {
  margin:0px
}
  .right_cstm2{
  width:100%;
    height:auto;
    max-height:none;
  }
  .nature_last {
    padding: 0px 15px;
    margin-top:0px;
  }
  .nature_last_cont{
    width:100%;
  }
  .nature_cont_sec{
 	display:table;   
  }
  .nature_last_cont br {
    display: none;
}
  .nature_last_cont img{
    margin-bottom:30px;
  }
  .nature_locations_header h3{
    padding-top:20px;
  }
  .nature_locations_cont span{
   display:none; 
  }
  .book_pamper{
   padding-bottom:0px; 
  }
  .hotel1_sec2{
    height:200px;
  }
}
</style>
<div class="ournature_banner">
{% section 'ournature_banner' %}
  </div>

<div class ="nature_last">
  <div class ="nature_cont_sec">
     <div class ="nature_last_cont">
         <h3>Just the Good Stuff</h3>
       <p>We take all our cues from Nature, ensuring that every product and 
       unique ingredient combination is thoughtfully formulated to deliver
       daily wellness, relief and joy. Our products are free of paraben, sulfates,
       mineral oil, synthetic fragrances and synthetic colors.<br><br>
       We are animal lovers, we never test on them and never work with any manufacturer
       that does. Our hearts are happy knowing that PETA and the Leaping Bunny Program
       both give us their stamp of approval.</p><br>
       {{ 'animal-icons.png' | asset_url | img_tag: 'animal-icons' }}
     </div>
     <div class ="nature_last_cont">
       <h3>Nature Lovers Unite</h3>
       <p>In everything we do, we're working towards a better world
       for all of us. LATHER is a carbon neutral business, we use EcoPure
       in our packaging, recycled materials, and soy-based inks. <br><br>
         We also proudly partner with non-profits like the Baobab Guardians Programme which employs and empowers women in South Africa and works hard to ensure the survival of the oldest tree on Earth. You can explore these partnerships <a href ="https://lather2018.myshopify.com/pages/about-partners">here</a></p><br>
       {{ 'eco-icons.png' | asset_url | img_tag: 'eco-icons' }}<br>
     </div>
    </div>
</div>  


<div class="nature_locations_header">
      <h3>Locate LATHER</h3>
      <p> We'd love to meet you at one of our stores in:</p>
</div>
<div class="nature_div">
<div class="nature_locations">
	<div class ="nature_locations_cont">
      <a href="/pages/store-locations-lather">Pasadena, CA</a><span>&emsp;|&emsp;</span>
   

       <a href="/pages/store-locations-lather">Fairfax, VA</a><span>&emsp;|&emsp;</span>
  

       <a href="/pages/store-locations-lather">Atlanta, GA</a><span>&emsp;|&emsp;</span>
    
 
       <a href="/pages/store-locations-lather">Honolulu, HI</a><span>&emsp;|&emsp;</span>
    
  	
       <a id="coming_soon" href="#">Phoenix, AZ</a>
      
    </div>
     
  
  </div>
</div>
<div class="book_pamper">
<a href="/pages/pamper">Book your pamper party today</a>
</div>
<div class ="locations_banner">
{% section 'locations_banner' %}
  </div>



