
<style>
  .prod-price {
    display: none;
}
 
  .was {
    display: none;
}
  .onsale {
    display: none;
}
  div#footer-wrapper {
    margin: 0px !important;
}
.hotel_last {
    background: #c8c9cb;
    padding: 3em 4em;
  margin-top:42px;
} 
.hotel_cont_sec {
    display: inline-flex;
}
.hotel_last_cont {
    padding: 0 84px;
    text-align: center;
}
.hotel_last_cont p {
    color :#fff; 
    font-size:16px;
    font-family: 'Avant Garde Book BT' !important;
}
.hotel_last h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 500;
    letter-spacing: 2px;
}
  .hotel_last_cont h4 {
    color: #fff;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
}
@media screen and (max-width: 740px) {
  .index-section .row {
    width: 96% !important;
    margin:0px !important;
}
  div#content { 
    width: 100% !important;
}
.hotel1_sec {
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    height: 130px;
    background-size: cover;
}
.cont1_sec {
    margin-top: 30px;
    text-align: center;
    padding: 0 20px;
}
.cont1_sec h1 {
    font-size: 17px;
}
.cont1_sec p {
    font-size: 15px;
    font-weight: 100 !important;
    color: #999;
}
  .right_cstm {
    width: 100%;
    height: 100%;
    max-height: 226px;
    overflow: hidden;
}
.left_cstm {
    width: 100%;
    background: #F5F8F7;
    padding: 2em 84px;
  text-align:center;
}
.main_cstm {
    display: block;
    clear: both;
    margin: 43px 0 30px;
}
.main_cstm2 {
    display: flex;
    clear: both;
    margin: 43px 0 50px;
}
.main_cstm2 p {
    color: #9d9d9d;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  	margin-left: 100px;
  	margin-right: 30px;
}
.main_cstm2 h3 {
    color: #9d9d9d;
    font-family: 'texgyreadventor-regular' !important;
  	color: #5a5a5a !important;
    font-size: 30px !important; 
    line-height: 25px;
    font-weight: 500;
  	margin-bottom: 20px;
  	margin-left: 100px;
}
.right_cstm2 {
    width: 50%;
    height: 400px;
  	max-height: 450px;
    overflow: hidden;
}
      
.right_cstm2 img {
    width: 100%;
}
.nature_last {
    width: 100%;
    padding: 40px 90px;
    background: #c8c9cb;
    margin-top: 40px;
}
.nature_cont_sec {
    display: inline-flex;
}
.nature_last_cont p {
	color: #9d9d9d;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  	text-align: center;
}

.nature_last_cont {
    width: 24%;
    margin: 0 auto;
}
.nature_last {
    width: 100%;
    padding: 40px 90px;
    background: #fff;
    margin-top: 40px;
}
.nature_cont_sec {
    display: inline-flex;
}

.nature_last_cont {
    width: 31%;
    margin: 0 auto;
}
.nature_last h3 {
    color: #5a5a5a !important;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 18px !important;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 0px;

}  
.nature_last_cont h3 {
    color: #414342;
    font-size: 18px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 600;
    margin-bottom: 18px;
  	
}
.left_cstm h2 {
    color: #414342;
    font-size: 20px;
    font-family: 'Avant Garde Book BT' !important;
    font-weight: 600;
    margin-bottom: 18px;
}
.left_cstm p {
    color: #AFB1B0;
    font-family: 'Avant Garde Book BT' !important;
    font-size: 16px;
    width: 100%;
}
.left_cstm.lft2_cust {
    padding: 3em 80px;
}
  .left_cstm.lft2_cust p{
   font-size:19px; 
  }
.right_cstm img {
  width: 100%;
}
.hotel_last {
    padding: 3em 0em 12px;
}
.hotel_cont_sec {
    display: block;
}
.hotel_last_cont {
    padding: 2px 17px 20px 0px;
    text-align: center;
}
  .hotel_last h3 {
    font-size: 43px;
}
  .as_seen_page .cus_shop {
    display: block !important;
}
}
  @media screen and ( min-width: 981px ) {
  div#content {
    width: 100%;
}
  .as_seen_page {
    width:1200px;
    margin:0 auto;
  }
}
  </style>
<div class ="as_seen_banner">
{% section 'as_seen_banner' %}
  </div>
  
{% section 'cont_image_section' %}
<div class ="as_seen_page">
{% section 'featured-products1' %}
  </div>
{% section 'Image_cont_section' %}
<div class ="as_seen_page">
{% section 'featured-products2' %}
  </div>
{% section 'cont_image_section2' %}
<div class ="as_seen_page">
{% section 'featured-products3' %}
</div>
<div class ="hotel_last for_desk">
  <h3>Our Customers Love LATHER</h3>
  <div class ="hotel_cont_sec">
     <div class ="hotel_last_cont">
       <p>“Discovered LATHER's Yuzu
          Bergamot Hair Wash from a hotel
          sample several years ago and have
          been using ever since. A small
          amount creates a lustrous lather
          and has a subtle and pleasing
          citrus smell. I couldn't be more
          satisfied with this product.”</p>
       <h4>— Theodore G</h4>
     </div>
     <div class ="hotel_last_cont">
       <p>“We stayed at a hotel in NYC that
          stocked the Lavender Lime Lotion
          for their guests, and we fell in love
          with the scent. So we looked up the
          company when we got back home
          so we could order some of it. It is
          very fresh and appealing.”</p>
       <h4>— Virginia I</h4>
     </div>
     <div class ="hotel_last_cont">
       <p>“I discovered these products while
          on vacation in Costa Rica and now
          I'm addicted. These products are
          some of the best I have ever tried. I
          am particularly fond of the
          Lemongrass Body Wash and
          Shampoo. I now add these
          products to gift baskets.”</p>
       <h4>— Lisa B</h4>
     </div>
    </div>
</div>

<div class ="hotel_last for_mob">
  <h3>Our Customers Love LATHER</h3>
  
  <div class ="hotel_cont_sec collection-carousel2 lazyOwl" >
     <div class ="hotel_last_cont">
       <p>“Discovered LATHER's Yuzu
          Bergamot Hair Wash from a hotel
          sample several years ago and have
          been using ever since. A small
          amount creates a lustrous lather
          and has a subtle and pleasing
          citrus smell. I couldn't be more
          satisfied with this product.”</p>
       <h4>— Theodore G</h4>
     </div>
     <div class ="hotel_last_cont">
       <p>“We stayed at a hotel in NYC that
          stocked the Lavender Lime Lotion
          for their guests, and we fell in love
          with the scent. So we looked up the
          company when we got back home
          so we could order some of it. It is
          very fresh and appealing.”</p>
       <h4>— Virginia I</h4>
     </div>
     <div class ="hotel_last_cont">
       <p>“I discovered these products while
          on vacation in Costa Rica and now
          I'm addicted. These products are
          some of the best I have ever tried. I
          am particularly fond of the
          Lemongrass Body Wash and
          Shampoo. I now add these
          products to gift baskets.”</p>
       <h4>— Lisa B</h4>
     </div>
    </div>
</div>

