<style>
  iframe .form_generater_form_div {
    margin: 0px !important;
    padding: 0px !important;
}
</style>
<div class="rte">{{ page.content }}</div>
<div style="margin:0 auto;" class="pxFormGenerator" id="T_2vHc93_HhaztTpWtDJSw"></div>